blinker==1.8.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
Flask==2.2.5
Flask-SQLAlchemy==3.1.1
flask-restx==1.0.0  # Atualize para uma versão mais recente
greenlet==2.0.2
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==2.1.1
requests==2.32.3
SQLAlchemy==2.0.40
typing_extensions==4.13.2
urllib3==1.26.14
Werkzeug==2.2.2
six==1.16.0
